header.jumbotron.subhead#overview
  
  h1 aWearable
  h2 <a href="/">Create Application</a> <a href="aware_of.html">Friends and Privacy</a>

section#homeContent
  
  //ADD APPLICATION NAME
  .rowLine    
  .row
    #progressBox
      .span3
        <img src="images/prog_grey.gif" id="progress_image2" />
    
    .span9
      .page-header
        h1 1. Add application name
      
      <form>
      <input type="text" placeholder="Name:" name="app_name" id="nameForm"><br>
      </form>
      
      script
        document.getElementById('nameForm').onkeyup = function() {
          var count = document.getElementById('nameForm').value.length;
          if(count != 0) {
            document.getElementById("progress_image2").src = "images/prog_green.gif"; 
          }
          else {
            document.getElementById("progress_image2").src = "images/prog_grey.gif";
          }
        }
  
  //CONNECT AWEARABLE TO THE COMPUTER    
  .rowLine
  .row
    #progressBox
      .span3
        <img src="images/prog_grey.gif" id="progress_image1" />
   
    .span9#e2-exampleConnection
      .page-header  
        h1 3. Connect your aWearable to the computer  
      p
        a.btn(href="#")#buttonConnect
            i.icon-refresh
            |  Connect to aWearable
        .alert.alert-info Please connect to your aWearable using the button.
        .alert.hide.alert-error Unable to connect to aWearable!
        .alert.hide.alert-success Connection to aWearable established!

  .rowLine
  .row
    #progressBox
      .span3
        <img src="images/prog_grey.gif" id="progress_image1" />
    
    .span9
      .page-header 
        
  
      
  //ADD COMPONENTS
  .rowLine    
  .row
    #progressBox
      .span3
        <img src="images/prog_long_grey.gif" id="progress_image3" />
    
    .span9
      .page-header
        h1 4. Choose components and their behavior/Build the device
          small <br>Drag the desired components to the corresponding boxes and 
      
        <div id="mainContainer">
        <h2></h2>        
        
        <div id="components">
    
        <div id="dropContent">
        <div class="dragableBox1" id="box1"><img src="images/display.png"></div>
        <div class="dragableBox3" id="box3"><img src="images/vibration.png"></div>
        <div class="dragableBox2" id="box2"><img src="images/light.png"></div>
        
        <div class="dragableBox4" id="box4"><img src="images/sound.png"></div>
        </div>
        </div>
        <br>
        <div id="arduinoBase">
 
        <div id="box101" class="dragableBoxRight">
        
      
        </div>
        <div id="box103" class="dragableBoxRight">
         
        </div>		      
  
        <div id="box104" class="dragableBoxRight">
        
        </div>
        <div id="box102" class="dragableBoxRight">
       
        </div>
        </div>
        <div class="clear"></div>
        </div>
        .span2 
          <div id="divDisplay"></div>
        .span2
          <div id="divSound"></div>
        .span2
          <div id="divLights"></div>
          <div id="divVibration"></div>
        
        
        
        
     
        
       

        <div id="debug"></div>
        <!-- Dragn drop-->
        script
          <!--// Custom drop action for the target boxes-->
          function dropItems(idOfDraggedItem,targetId,x,y){
            var targetObj = document.getElementById(targetId);	<!--// Creating reference to target obj-->
            var subDivs = targetObj.getElementsByTagName('DIV');	<!--// Number of subdivs-->
            if(subDivs.length>0 && targetId!='components')return;	<!--// Sub divs exists on target, i.e. element already dragged on it. => return from function without doing anything-->
            var sourceObj = document.getElementById(idOfDraggedItem);	<!--// Creating reference to source, i.e. dragged object-->
            var numericIdTarget = targetId.replace(/[^0-9]/gi,'')/1;	<!--// Find numeric id of target-->
            var numericIdSource = idOfDraggedItem.replace(/[^0-9]/gi,'')/1;	<!--// Find numeric id of source-->
            if(numericIdSource==1 && numericIdTarget-numericIdSource==100){	<!--// In the html above, there's a difference in 100 between the id of the country and it's capital(example:	-->									
              sourceObj.style.backgroundColor='#54F05E';	<!--// Set green background color for dragged objec		-->
              loadDisplay();
              document.getElementById("progress_image4").src = "images/prog_green.gif";
            }
            else if(numericIdSource==2 && numericIdTarget-numericIdSource==100){	<!--// In the html above, there's a difference in 100 between the id of the country and it's capital(example:	-->									
              sourceObj.style.backgroundColor='#54F05E';	<!--// Set green background color for dragged objec		-->
              loadLights();
              document.getElementById("progress_image4").src = "images/prog_green.gif";
              
            }
            else if(numericIdSource==3 && numericIdTarget-numericIdSource==100){	<!--// In the html above, there's a difference in 100 between the id of the country and it's capital(example:	-->									
              sourceObj.style.backgroundColor='#54F05E';	<!--// Set green background color for dragged objec		-->
              loadVibration()
              document.getElementById("progress_image4").src = "images/prog_green.gif";
            }
            else if(numericIdSource==4 && numericIdTarget-numericIdSource==100){	<!--// In the html above, there's a difference in 100 between the id of the country and it's capital(example:	-->									
              sourceObj.style.backgroundColor='#54F05E';	<!--// Set green background color for dragged objec		-->
              loadSound()
              document.getElementById("progress_image4").src = "images/prog_green.gif";
            }
            else {
              sourceObj.style.backgroundColor='#FF4D45';	<!--// Reset back to default white background color-->
            }
            

            

            if(targetId=='components') {	<!--// Target is the capital box - append the dragged item as child of first sub div, i.e. as child of <div id="dropContent">-->
              targetObj = targetObj.getElementsByTagName('DIV')[0];
              sourceObj.style.backgroundColor='';
                <!-- empty div when dropbox is put back to the source -->
                if(numericIdSource==1) {
                  document.getElementById("divDisplay").innerHTML= "";
                  
                }
                if(numericIdSource==2) {
                  document.getElementById("divLights").innerHTML= "";
                  
                  
                }
                if(numericIdSource==3) {
                  document.getElementById("divVibration").innerHTML= "";
                  
                }
                if(numericIdSource==4) {
                  document.getElementById("divSound").innerHTML= "";
                  
                }
                
                
             
            }
            targetObj.appendChild(sourceObj);	<!--// Append	-->
          } 
          var dragDropObj = new DHTMLgoodies_dragDrop();	<!--// Creating drag and drop objec-->
        
          <!--// Assigning drag events to the components-->
          dragDropObj.addSource('box1',true);	<!--// Make <div id="box1"> dragable. slide item back into original position after drop-->
          dragDropObj.addSource('box2',true);	<!-- Make <div id="box2"> dragable. slide item back into original position after drop-->
          dragDropObj.addSource('box3',true);	<!-- Make <div id="box3"> dragable. slide item back into original position after drop-->
          dragDropObj.addSource('box4',true);	<!-- Make <div id="box4"> dragable. slide item back into original position after drop-->
        
          <!--// Assigning drop events on the targets-->
          dragDropObj.addTarget('box101','dropItems'); <!--// Set <div id="leftColumn"> as a drop target. Call function dropItems on drop-->
          dragDropObj.addTarget('box102','dropItems'); <!--// Set <div id="leftColumn"> as a drop target. Call function dropItems on drop-->
          dragDropObj.addTarget('box103','dropItems'); <!--// Set <div id="leftColumn"> as a drop target. Call function dropItems on drop-->
          dragDropObj.addTarget('box104','dropItems'); <!--// Set <div id="leftColumn"> as a drop target. Call function dropItems on drop-->
          dragDropObj.addTarget('components','dropItems'); <!--// Set <div id="leftColumn"> as a drop target. Call function dropItems on drop-->
        
          dragDropObj.init();	// Initizlizing drag and drop object

  //CUSTOMIZE
  .rowLine      
  .row
    #progressBox
      .span3
        <img src="images/prog_grey.gif" id="progress_image4" />
   
    
            
      .span9  
        <!--
        a.btn(href="#", onclick="DoneCostume()")#doneButton
          |  Done -->
          
  //CHOOSE RANGE
  .rowLine
  .row
    #progressBox
      .span3
        <img src="images/prog_grey.gif" id="progress_image5" />
        
    .span9
      .page-header
        h1 6. Choose range
          
        p
        select.span2#rangeValue
          option(value="null") Choose range
          option(value='020') 20m
          option(value='100') 100m
          option(value='200') 200m
        | 

    //SAVE APPLICATION
  .rowLine
  .row
    #progressBox
      .span3
        <img src="images/prog_grey.gif" id="progress_image6" />
      

    .span9
      .page-header
        h1 7. Save application
      a.btn(href="#", onclick="ShowProgress()")#buttonSend
        i.icon-retweet
        |  Upload application


