 <div id="fb-root"></div>
header.jumbotron.subhead#overview

  <div class="help">
  p <a href="about.html"> About</a>  <a href="how_to.html">How-To</a>
  </div>
  h1 aWearable
  h2 <a href="/" class="selected">Create Application</a>
  <img src="images/header_img2.jpg" id="header_img">

section#groupContent
    
    script
      function sendRequestViaMultiFriendSelector() {
    
        FB.ui({
          method: 'apprequests',
          message: "Would you like to join my aWearable group?",
          picture: 'url to my image',
          max_recipients: '50'
        }, function(response) {
            if(response && response.to) {
                  for(i = 0; i < response.to.length; i++) {
                      console.log("number: " + i + " ID: " + response.to[i]);
                    
                      if(i==0) {
                          FB.api('/'+ response.to[i] +'?fields=installed,name', function (response) {
                              console.log(response);
                              var removefriend=document.createElement("button");
                              var t=document.createTextNode("X");
                              removefriend.appendChild(t);
                              var friendnames = document.getElementById("friendnamesDiv");
                              friendnames.innerHTML+=(response['name'] + "<br>");
                              document.getElementById("fjerneDiv").appendChild(removefriend);
                              friendnames.innerHTML+=("<br>");
                            
                          });
                      }
                      if(i==1) {
                          FB.api('/'+ response.to[i] +'?fields=installed,name', function (response) {
                              console.log(response);
                              var removefriend=document.createElement("button");
                              var t=document.createTextNode("X");
                              removefriend.appendChild(t);
                              var friendnames = document.getElementById("friendnamesDiv1");
                              friendnames.innerHTML+=(response['name'] + "<br>");
                              document.getElementById("fjerneDiv1").appendChild(removefriend);
                              friendnames.innerHTML+=("<br>");  
                          });
                      }       
                }
            }
        });
      }
      
      function functionRemove() {
          var elem = document.getElementById('friendnamesDiv');
          elem.parentNode.removeChild(elem);
          return false; 
      }
      function functionRemove1() {
          var elem = document.getElementById('friendnamesDiv1');
          elem.parentNode.removeChild(elem);
          return false; 
      }

    .span3
      .page-header
      
        <div id="fb-text"></div>  
        <div id="fb-login"></div>
        <div id="fb-login-img"></div>
        <br>
        h1 Friends
          
          small <br>Add friends to your awareness group using facebook       
          <br>
        <img type="button" onclick="sendRequestViaMultiFriendSelector()" id="facebook-friends" src="images/facebook-friends.png"; return true;/>
        <br>
        <div id="following">    
        p 
            b Friends you are following:
            <br>
        
            <div type="text" id="friendnamesDiv"> 
                
            <div TITLE="Delete friend" id="fjerneDiv" onclick="functionRemove()"> </div>
            </div>
          
            <div type="text" id="friendnamesDiv1">
                
            <div TITLE="Delete friend" id="fjerneDiv1" onclick="functionRemove1()"> </div>
            </div>
        <br>
        <div id="followers">  
        p
            b Friends following you:
            p
                i No friends are following you yet
        </div>
      </div>
      <br>
      <br>
  
    .span3
      .page-header
        <img src="images/Black_Lock.png" id="lock">
        h1 Privacy settings
          <br>
          small <br>Decide what location information to share with your friends:
        <form action="">
        .span4
          <label for="allow"><b>In-range:</b></label>
        .span5
          <div class="privacy_settings">
          <input checked type="radio" name="privacy" id="allow" value="allow"> Allow
          </div>
        </form>
        <form action="">
        .span4
          <label for="allow"><b>Distance:</b></label>
        .span5
          <div class="privacy_settings">
          <input checked type="radio" name="privacy" id="allow" value="allow"> Allow
          <input type="radio" name="privacy" value="Not allow" id="not-allow"> Not Allow <br>
          </div>
        </form>
        <form action="">
        .span4
          <label for="allow"><b>Direction:</b></label>
        .span5
          <div class="privacy_settings">
          <input checked type="radio" name="privacy" value="Allow"> Allow
          <input type="radio" name="privacy" value="Not allow"id="not-allow"> Not Allow <br>
          </div>
        </form>
        <form action="">

        .span4
          <label for="allow"><b>Coordinates:</b></label>
        .span5
          <div class="privacy_settings">
          <input checked type="radio" name="privacy" value="Allow"> Allow
          <input type="radio" name="privacy" value="Not allow"id="not-allow"> Not Allow
          </div>

        </form>
    .span3
      .page-header
    
  section#homeContent

 
    //ADD COMPONENTS  
    .row
      .span9
        .page-header

          h1 1. Choose parts and their behavior
            small <br>a. Drag the desired parts to their respective boxes

          <div id="mainContainer">
          <h2></h2>
        
          <div id="displayId" style="visibility: hidden"></div>
          <div id="ledId" style="visibility: hidden"></div>
        
          <div id="components">
    
          <div id="dropContent">
          <div class="dragableBox1" id="box1"><img src="images/display.png"></div>
          <div class="dragableBox3" id="box3"><img src="images/vibration.png"></div>
          <div class="dragableBox2" id="box2"><img src="images/light.png"></div>
          <div class="dragableBox4" id="box4"><img src="images/sound.png"></div>
          </div>
          </div>
          <br>
          h1
            small<br>b. Choose the behavior of the parts
          <div id="arduinoBase">

          <div id="box104" class="dragableBoxRight"></div>
          <div id="box103" class="dragableBoxRight"></div>		      
          <div id="box101" class="dragableBoxRight"></div>
          <div id="box102" class="dragableBoxRight"></div>
          </div>
                  
          <div class="clear"></div>
          
          .span2 
            <div id="divDisplay"></div>
          .span2
            <div id="divSound"></div>
          .span2
            <div id="divLights"></div>
            <div id="divVibration"></div>        

          .span2
            
          <div id="debug"></div>
          </br>
          </div>
    
        script
          function doneCustom(numericIdSource, numericIdTarget ) {
            var r=confirm("Make sure you have plugged the parts correct before clicking 'OK'!");
            if (r==true) {
            
                document.getElementById("progress_image3").src = "images/prog_green.gif";
            }
            else {
              document.getElementById("progress_image3").src = "images/prog_long_grey.gif";
            }
          }
  
        <!-- Dragn drop-->
        script
            <!--// Custom drop action for the target boxes-->
            function dropItems(idOfDraggedItem,targetId,x,y){
              var targetObj = document.getElementById(targetId);	<!--// Creating reference to target obj-->
              var subDivs = targetObj.getElementsByTagName('DIV');	<!--// Number of subdivs-->
              if(subDivs.length>0 && targetId!='components')return;	<!--// Sub divs exists on target, i.e. element already dragged on it. => return from function without doing anything-->
              var sourceObj = document.getElementById(idOfDraggedItem);	<!--// Creating reference to source, i.e. dragged object-->
              var numericIdTarget = targetId.replace(/[^0-9]/gi,'')/1;	<!--// Find numeric id of target-->
              var numericIdSource = idOfDraggedItem.replace(/[^0-9]/gi,'')/1;	<!--// Find numeric id of source-->
            
              <!--// Display is chosen-->
              if(numericIdSource==1 && numericIdTarget-numericIdSource==100){	<!--// In the html above, there's a difference in 100 between the id 								
                sourceObj.style.backgroundColor='#dff0d8';	<!--// Set green background color for dragged objec		-->
                var displayId = 'd';
                console.log(displayId);
                document.getElementById("displayId").innerHTML = displayId;
                loadDisplay();
              }
              <!--// Light is chosen-->
              else if(numericIdSource==2 && numericIdTarget-numericIdSource==100){	<!--// In the html above, there's a difference in 100 between the id 									
                sourceObj.style.backgroundColor='#dff0d8';	<!--// Set green background color for dragged objec		-->
                var ledId = 'l';
                console.log(ledId);
                document.getElementById("ledId").innerHTML = ledId;
                loadLights();
                
              }
              else if(numericIdSource==3 && numericIdTarget-numericIdSource==100){	<!--// In the html above, there's a difference in 100 between the id 									
                sourceObj.style.backgroundColor='#dff0d8';	<!--// Set green background color for dragged objec		-->
                loadVibration()
              }
              else if(numericIdSource==4 && numericIdTarget-numericIdSource==100){	<!--// In the html above, there's a difference in 100 between the id									
                sourceObj.style.backgroundColor='#dff0d8';	<!--// Set green background color for dragged objec		-->
                loadSound()
              }
              else {
                sourceObj.style.backgroundColor='#FF4D45';	<!--// Reset back to default background color-->
              }

              if(targetId=='components') {	<!--// Target is the capital box - append the dragged item as child of first sub div, i.e. as child of <div id="dropContent">-->
                targetObj = targetObj.getElementsByTagName('DIV')[0];
                sourceObj.style.backgroundColor='';
                  <!-- empty div when dropbox is put back to the source -->
                  if(numericIdSource==1) {
                    document.getElementById("divDisplay").innerHTML= "";
                    console.log("displayId:");
                    displayId = "";
                    document.getElementById("displayId").innerHTML = displayId;
                    console.log(displayId);
                  }
                  if(numericIdSource==2) {
                    document.getElementById("divLights").innerHTML= "";
                    console.log("ledId:");
                    ledId = "";
                    document.getElementById("ledId").innerHTML = ledId;
                    console.log(ledId);
  
                  }
                  if(numericIdSource==3) {
                    document.getElementById("divVibration").innerHTML= "";
                 
                  }
                  if(numericIdSource==4) {
                    document.getElementById("divSound").innerHTML= "";
                  
                  }
              }
              targetObj.appendChild(sourceObj);	<!--// Append	-->
            }
          
            var dragDropObj = new DHTMLgoodies_dragDrop();	<!--// Creating drag and drop objec-->
        
            <!--// Assigning drag events to the components-->
            dragDropObj.addSource('box1',true);	<!--// Make <div id="box1"> dragable. slide item back into original position after drop-->
            dragDropObj.addSource('box2',true);	<!-- Make <div id="box2"> dragable. slide item back into original position after drop-->
            dragDropObj.addSource('box3',true);	<!-- Make <div id="box3"> dragable. slide item back into original position after drop-->
            dragDropObj.addSource('box4',true);	<!-- Make <div id="box4"> dragable. slide item back into original position after drop-->
        
            <!--// Assigning drop events on the targets-->
            dragDropObj.addTarget('box101','dropItems'); 
            dragDropObj.addTarget('box102','dropItems'); 
            dragDropObj.addTarget('box103','dropItems'); 
            dragDropObj.addTarget('box104','dropItems'); 
            dragDropObj.addTarget('components','dropItems'); 
        
            dragDropObj.init();	// Initizlizing drag and drop object
    
    //Plug parts
    .rowLine
    .row 
      .span9
        .page-header

          h1 2. Plug the parts to the aWearable device

            small <br>Plug the chosen parts to the aWearable device as illustrated in 1b
          <br><b>
          <div id="plug_parts">
          <ul>
          <li>Match the wire numbers and the selected parts</li>

          <li>Attach the parts to the velcro on the bag</li>
       
          <li> The green light with the text 'GPS' next to it, will start to blink when GPS signals are retrived</li>
          </ul></b>
          </div>

       
    //CHOOSE RANGE
    .rowLine
    .row
    
      .span9#range
        .page-header
          h1 3. Choose range
            small <br>You will receive location information when friends are inside this range.
          <br>  
          p
          select.span2#rangeValue
            option(value='0') Choose range
            option(value='020') 20m
            option(value='100') 100m
            option(value='200') 200m
            option(value='500') 500m
          | 

      //CONNECT AWEARABLE TO THE COMPUTER    
    .rowLine  
    .row
    
      
      .span9#e2-exampleConnection
        .page-header  
          h1 4. Connect your aWearable to the computer
            small<br>Connect the USB cable to the aWearable and the computer, and click the button</b></p>
          <p><br><b><i>NB! Make sure you have plugged the parts correct before clicking the button!</b></i></p>
        p
          a.btn(href="#")#buttonConnect
              i.icon-refresh
              |  Connect to aWearable
          .alert.alert-info Click the button to connect
          .alert.hide.alert-error Unable to connect to aWearable!
          .alert.hide.alert-success Connection to aWearable established!
      
      //SAVE APPLICATION
    .rowLine
    .row
      

      .span9#e2-exampleValidate
        .page-header
          h1 5. Save application
            small <br>Click the button when you are ready to save the application
        a.btn(href="#")#buttonSend
          i.icon-retweet
          |  Upload Application
          <br>
        .alert.alert-info Click the button to create the application!
        .alert.hide.alert-success Hooray, your aWearable application is now ready for use!
        <br>

        <p><b>When you have succesfully uploaded the application, unplug the USB cable and make sure the battery is connected to the aWearable. Close the bag and you are ready to go!</b>

        <br>


