!!! 5
html(lang="en")
  head
    title Arduino control nodeuino for JavaScript and Node.js with WebSockets and HTML5
    link(rel="stylesheet", href="styles/bootstrap/init.css")
    link(rel="stylesheet", href="styles/prettify.css")
    link(rel="stylesheet", href="styles/init.css")
    script(data-main="scripts/app." + jsApp, type="text/javascript", src="scripts/vendor/require-jquery.js")
    script(type="text/javascript", src="http://localhost:8090/socket.io/socket.io.js")
    //script(type="text/javascript", src="script.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js")
    script(type="text/javascript", src="scripts/drag-drop-custom.js")
   
    
    
      
    script
      function loadXMLDoc() {
        var request;
        request = new XMLHttpRequest();
        request.onreadystatechange=function() {
  
            document.getElementById("myDiv").innerHTML=request.responseText;
          
        }
   
        request.open("GET","example-ajax_info.html", true);
        request.send();
      }
      script
      function loadXMLDoc2() {
        var request;
        request = new XMLHttpRequest();
        request.onreadystatechange=function() {
  
            document.getElementById("myDiv2").innerHTML=request.responseText;
          
        }
   
        request.open("GET","example-walkLED.html", true);
        request.send();
      }
     
       
      

      script
      function loadIcon() {
        var request;
        request = new XMLHttpRequest();
        request.onreadystatechange=function() {
            
            document["divIcon"].src="images/prog_grey.gif";
            document.getElementById("divIcon2").style.vilibility = 'hidden';
            document.getElementById("divIcon").innerHTML=request.responseText;
          
        }
          request.open("GET","progression_icon.html", true);
        request.send();
      }

      //Changing progress tracker when save application is clicked
      script
      function ShowProgress() 
      {
        document.getElementById("progress_image6").src = "images/prog_green.gif"; 
      }
      
      

      <!--Load display-->
      script
      function loadDisplay() {
        var request;
        request = new XMLHttpRequest();
        request.onreadystatechange=function() {
            document.getElementById("divDisplay").innerHTML=request.responseText;    
        }
        request.open("GET","display-options.html", true);
        request.send();
      }
      
      <!--Load Lights-->
      script
      function loadLights() {
        var request;
        request = new XMLHttpRequest();
        request.onreadystatechange=function() {
            document.getElementById("divLights").innerHTML=request.responseText; 
        }
        request.open("GET","lights-options.html", true);
        request.send();
      }
      
      <!--Load vibration-->
      script
      function loadVibration() {
        var request;
        request = new XMLHttpRequest();
        request.onreadystatechange=function() {
            document.getElementById("divVibration").innerHTML=request.responseText;  
        }
        request.open("GET","vibration-options.html", true);
        request.send();
      }
      
       <!--Load sound-->
      script
      function loadSound() {
        var request;
        request = new XMLHttpRequest();
        request.onreadystatechange=function() {
            document.getElementById("divSound").innerHTML=request.responseText; 
        }
        request.open("GET","sound-options.html", true);
        request.send();
      }
   
        
  body
    .navbar.navbar-fixed-top(style="z-index: 4;position:absolute;")
      .navbar-inner
        .container
          div.nav-collapse
            ul.nav
              li(class=(active == 'home' ? 'active' : ''))
                a(href="index.html") Home
              li(class=(active == 'getting-started' ? 'active' : ''))
                //a(href="getting-started.html") Saved apps                
              li.dropdown(class=(active == 'examples' ? 'active' : ''))
                a.dropdown-toggle(href="#",data-toggle="dropdown") Saved apps 
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="example-test.html") App 1
                  li
                    a(href="example-motor.html") App 2
                  li
                    a(href="example-ajax_info.html") App 3
              li
                //a(href="https://github.com/semu/noduino") View on GitHub &raquo;
           
          
    .container!=body
      footer.footer
        